In [13]:
# Import pandas(for making data tables)
import pandas as pd
import numpy as np
from datetime import datetime

# Graphing modules
import matplotlib.pyplot as plt
from matplotlib import cm as cm
from matplotlib import mlab as ml
import seaborn as sns

# MLB Python API tool
import mlbgame

# Holidays
from pandas.tseries.holiday import USFederalHolidayCalendar, get_calendar

# Makes plots in notebook|
%matplotlib inline

In [14]:
# Load df, drop extra index column, cast to datetime
df = pd.read_csv('./data/clean_seattle_911_no_dup.csv')
df.drop(['Unnamed: 0'], axis=1, inplace=True)
df.Datetime = pd.to_datetime(df.Datetime)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 551095 entries, 0 to 551094
Data columns (total 12 columns):
Address            551086 non-null object
Type               551095 non-null object
Datetime           551095 non-null datetime64[ns]
Latitude           551095 non-null float64
Longitude          551095 non-null float64
Report Location    520631 non-null object
Incident Number    522111 non-null object
dt_crop            551095 non-null object
date               551095 non-null object
time               551095 non-null object
date2              551095 non-null object
time2              551095 non-null object
dtypes: datetime64[ns](1), float64(2), object(9)
memory usage: 50.5+ MB

In [15]:
# Get Mariners home games
mariners_home = []
month = mlbgame.games([2010, 2011, 2012, 2013, 2014, 2015, 2016], [1,2,3,4,5,6,7,8,9,10,11,12], home="Mariners")
games = mlbgame.combine_games(month)
for game in games:
    mariners_home.append(str(game.date)[:10])

In [16]:
# http://www.fbschedules.com/nfl-11/2011-seattle-seahawks-football-schedule.php

seahawks_home = ['2016-11-07', '2016-11-20', '2016-12-04', '2016-12-15',
                 '2016-12-24', '2016-09-11', '2016-09-25', '2016-10-16',
                 '2015-09-27', '2015-10-05', '2015-10-18', '2015-11-15', 
                 '2015-11-22', '2015-11-29', '2015-12-20', '2015-12-27',
                 '2014-09-04', '2014-09-21', '2014-10-12', '2014-11-02',
                 '2014-11-09', '2014-11-23', '2014-12-14', '2014-12-28',
                 '2015-01-10', '2015-01-18',
                 '2013-09-15', '2013-09-22', '2013-10-13', '2013-11-03',
                 '2013-11-17', '2013-12-02', '2013-12-22', '2013-12-29',
                 '2014-01-11', '2014-01-19',
                 '2012-09-16', '2012-09-24', '2012-10-14', '2012-11-04',
                 '2012-11-11', '2012-12-09', '2012-12-23', '2012-12-30',
                 '2011-09-25', '2011-10-02', '2011-10-30', '2011-11-13',
                 '2011-11-27', '2011-12-01', '2011-12-12', '2011-12-24',
                 '2010-09-12', '2010-09-26', '2010-10-24', '2010-11-07',
                 '2010-11-28', '2010-12-05', '2010-12-19', '2010-01-02',
                 '2010-01-08', '2010-01-16']

In [17]:
# Sounders home games from wikipedia

sounders_home = ['2016-04-30', '2016-05-07', '2016-05-21', '2016-06-25',
                 '2018-04-18', '2016-07-09', '2016-07-13', '2016-07-31',
                 '2016-08-14', '2016-08-21', '2016-09-17', '2016-09-28',
                 '2016-10-12', '2016-10-23', '2016-02-23', '2016-03-08'
                 '2016-03-18', '2016-04-02', 
                 '2015-03-08', '2015-03-14', '2015-04-04', '2015-04-26',
                 '2015-05-23', '2015-05-27', '2015-05-31', '2015-06-13',
                 '2015-06-20', '2015-07-03', '2015-07-18', '2015-08-01',
                 '2015-08-16', '2015-08-30', '2015-09-05', '2015-10-04',
                 '2015-10-25',
                 '2014-03-08', '2014-03-15', '2014-03-29', '2014-04-26',
                 '2014-05-03', '2014-05-07', '2014-05-17', '2014-05-31',
                 '2014-07-13', '2014-07-26', '2014-08-10', '2014-08-20',
                 '2014-08-20', '2013-09-12', '2014-09-27', '2014-10-10',
                 '2014-10-25',
                 '2013-03-02', '2013-03-16', '2013-04-13', '2013-05-11',
                 '2013-05-18', '2013-06-08', '2013-07-03', '2013-07-20',
                 '2013-07-28', '2013-08-03', '2013-08-25', '2013-09-04',
                 '2013-09-07', '2013-09-13', '2013-09-29', '2013-10-09',
                 '2013-10-27',
                 '2012-03-17', '2012-03-23', '2012-03-31', '2012-04-14',
                 '2012-05-02', '2012-05-05', '2012-05-12', '2012-05-23',
                 '2012-06-20', '2012-07-07', '2012-08-05', '2012-08-18',
                 '2012-09-08', '2012-10-07', '2012-10-17', '2012-10-21',
                 '2012-09-22'
                 '2011-03-15', '2011-03-25', '2011-04-09', '2011-04-30',
                 '2011-05-14', '2011-05-21', '2011-05-25', '2011-06-11',
                 '2011-06-23', '2011-06-26', '2011-06-16', '2011-08-13',
                 '2011-08-27', '2011-09-10', '2011-09-17', '2011-10-08',
                 '2011-10-15', '2011-11-02', '2001-10-04',
                 '2010-03-25', '2010-04-03', '2010-04-17', '2010-05-01',
                 '2010-05-08', '2010-05-22', '2010-06-05', '2010-06-10',
                 '2010-07-11', '2010-07-25', '2010-08-08', '2010-08-28',
                 '2010-09-09', '2010-10-02', '2010-10-15', '2010-10-31',
                 '2010-10-05']

In [18]:
# Dummy out home games
df['mariners_home'] = df.date.isin(mariners_home).astype(int)
df['seahawks_home'] = df.date.isin(seahawks_home).astype(int)
df['sounders_home'] = df.date.isin(sounders_home).astype(int)
df.head()

,Address,Type,Datetime,Latitude,Longitude,Report Location,Incident Number,dt_crop,date,time,date2,time2,mariners_home,seahawks_home,sounders_home
0,6900 37th Av S,Medic Response,2011-11-09 23:33:00,47.540683,-122.286131,"(47.540683, -122.286131)",F110104166,11/09/2011 11:33:00 PM,2011-11-09,23:33:00,2011-11-09 00:00:00,0 days 23:33:00.000000000,0,0,0
1,N 50th St / Stone Way N,Aid Response,2011-11-09 23:32:00,47.665034,-122.340207,"(47.665034, -122.340207)",F110104164,11/09/2011 11:32:00 PM,2011-11-09,23:32:00,2011-11-09 00:00:00,0 days 23:32:00.000000000,0,0,0
2,E John St / E Olive Way,Aid Response,2011-11-09 23:32:00,47.619575,-122.324257,"(47.619575, -122.324257)",F110104165,11/09/2011 11:32:00 PM,2011-11-09,23:32:00,2011-11-09 00:00:00,0 days 23:32:00.000000000,0,0,0
3,611 12th Av S,Aid Response,2011-11-09 23:29:00,47.597406,-122.317228,"(47.597406, -122.317228)",F110104162,11/09/2011 11:29:00 PM,2011-11-09,23:29:00,2011-11-09 00:00:00,0 days 23:29:00.000000000,0,0,0
4,4545 42nd Av Sw,Automatic Medical Alarm,2011-11-09 23:25:00,47.562472,-122.385455,"(47.562472, -122.385455)",F110104161,11/09/2011 11:25:00 PM,2011-11-09,23:25:00,2011-11-09 00:00:00,0 days 23:25:00.000000000,0,0,0

In [19]:
# Busy travel times
trav_hol = ['2010-11-23', '2010-11-25', '2010-11-26', '2010-12-24', 
            '2010-12-25', '2010-12-26',
            '2011-11-23', '2011-11-24', '2011-11-25', '2011-12-24', 
            '2011-12-25', '2011-12-26', 
            '2012-11-21', '2012-11-22', '2012-11-23', '2012-12-24', 
            '2012-12-25', '2012-12-26',
            '2013-11-27', '2013-11-28', '2013-11-29', '2013-12-24', 
            '2013-12-25', '2013-12-26',
            '2014-11-26', '2014-11-27', '2014-11-28', '2014-12-24', 
            '2014-12-25', '2014-12-26',
            '2015-11-25', '2015-11-26', '2015-11-27', '2015-12-24', 
            '2015-12-25', '2015-12-26',
            '2016-11-23', '2016-11-24', '2016-11-25', '2016-12-24', 
            '2016-12-25', '2016-12-26']

# Dangerous holidays are New Years and July 4th
dang_hol = ['2010-01-01', '2010-07-04', '2011-01-01', '2011-07-04', 
            '2012-01-01', '2012-07-04', '2013-01-01', '2013-07-04', 
            '2014-01-01', '2014-07-04', '2015-01-01', '2015-07-04', 
            '2016-01-01', '2016-07-04']

In [20]:
# Add holidays
df['trav_holiday'] = df.date.isin(trav_hol).astype(int)
df['dang_holiday'] = df.date.isin(dang_hol).astype(int)

In [21]:
# Add weekday
df['weekday'] = df.Datetime.dt.weekday_name
df.head()

,Address,Type,Datetime,Latitude,Longitude,Report Location,Incident Number,dt_crop,date,time,date2,time2,mariners_home,seahawks_home,sounders_home,trav_holiday,dang_holiday,weekday
0,6900 37th Av S,Medic Response,2011-11-09 23:33:00,47.540683,-122.286131,"(47.540683, -122.286131)",F110104166,11/09/2011 11:33:00 PM,2011-11-09,23:33:00,2011-11-09 00:00:00,0 days 23:33:00.000000000,0,0,0,0,0,Wednesday
1,N 50th St / Stone Way N,Aid Response,2011-11-09 23:32:00,47.665034,-122.340207,"(47.665034, -122.340207)",F110104164,11/09/2011 11:32:00 PM,2011-11-09,23:32:00,2011-11-09 00:00:00,0 days 23:32:00.000000000,0,0,0,0,0,Wednesday
2,E John St / E Olive Way,Aid Response,2011-11-09 23:32:00,47.619575,-122.324257,"(47.619575, -122.324257)",F110104165,11/09/2011 11:32:00 PM,2011-11-09,23:32:00,2011-11-09 00:00:00,0 days 23:32:00.000000000,0,0,0,0,0,Wednesday
3,611 12th Av S,Aid Response,2011-11-09 23:29:00,47.597406,-122.317228,"(47.597406, -122.317228)",F110104162,11/09/2011 11:29:00 PM,2011-11-09,23:29:00,2011-11-09 00:00:00,0 days 23:29:00.000000000,0,0,0,0,0,Wednesday
4,4545 42nd Av Sw,Automatic Medical Alarm,2011-11-09 23:25:00,47.562472,-122.385455,"(47.562472, -122.385455)",F110104161,11/09/2011 11:25:00 PM,2011-11-09,23:25:00,2011-11-09 00:00:00,0 days 23:25:00.000000000,0,0,0,0,0,Wednesday

In [22]:
# Create night dummy
df['night'] = ((df.time < '06:00:00') | (df.time > '18:00:00')).astype(int)

# Make dummies of weekdays
df_dummies = pd.get_dummies(df.weekday, drop_first=True)
df = pd.concat([df, df_dummies], axis=1)
df[['Monday', 'Saturday', 'Sunday', 'Thursday', 'Tuesday', 'Wednesday']] = \
df[['Monday', 'Saturday', 'Sunday', 'Thursday', 'Tuesday', 'Wednesday']].astype(int)

In [23]:
df.head()

,Address,Type,Datetime,Latitude,Longitude,Report Location,Incident Number,dt_crop,date,time,...,trav_holiday,dang_holiday,weekday,night,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday
0,6900 37th Av S,Medic Response,2011-11-09 23:33:00,47.540683,-122.286131,"(47.540683, -122.286131)",F110104166,11/09/2011 11:33:00 PM,2011-11-09,23:33:00,...,0,0,Wednesday,1,0,0,0,0,0,1
1,N 50th St / Stone Way N,Aid Response,2011-11-09 23:32:00,47.665034,-122.340207,"(47.665034, -122.340207)",F110104164,11/09/2011 11:32:00 PM,2011-11-09,23:32:00,...,0,0,Wednesday,1,0,0,0,0,0,1
2,E John St / E Olive Way,Aid Response,2011-11-09 23:32:00,47.619575,-122.324257,"(47.619575, -122.324257)",F110104165,11/09/2011 11:32:00 PM,2011-11-09,23:32:00,...,0,0,Wednesday,1,0,0,0,0,0,1
3,611 12th Av S,Aid Response,2011-11-09 23:29:00,47.597406,-122.317228,"(47.597406, -122.317228)",F110104162,11/09/2011 11:29:00 PM,2011-11-09,23:29:00,...,0,0,Wednesday,1,0,0,0,0,0,1
4,4545 42nd Av Sw,Automatic Medical Alarm,2011-11-09 23:25:00,47.562472,-122.385455,"(47.562472, -122.385455)",F110104161,11/09/2011 11:25:00 PM,2011-11-09,23:25:00,...,0,0,Wednesday,1,0,0,0,0,0,1

In [24]:
df.to_csv("./data/features_seattle_911_no_dup.csv")