In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# make it pretty
%matplotlib inline
plt.style.use('ggplot')

In [8]:
# first row after header is empty
df = pd.read_csv('../data/raw_data_20180826.csv', skiprows=[1])

/home/nick/Envs/RapidRescue-DaCN2RHa/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [9]:
df.head()

,Address,Type,Datetime,Latitude,Longitude,Incident Number
0,6900 37th Av S,Medic Response,11/09/2011 11:33:00 PM +0000,47.540683,-122.286131,F110104166
1,N 50th St / Stone Way N,Aid Response,11/09/2011 11:32:00 PM +0000,47.665034,-122.340207,F110104164
2,E John St / E Olive Way,Aid Response,11/09/2011 11:32:00 PM +0000,47.619575,-122.324257,F110104165
3,611 12th Av S,Aid Response,11/09/2011 11:29:00 PM +0000,47.597406,-122.317228,F110104162
4,4545 42nd Av Sw,Automatic Medical Alarm,11/09/2011 11:25:00 PM +0000,47.562472,-122.385455,F110104161

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 746079 entries, 0 to 746078
Data columns (total 6 columns):
Address            745080 non-null object
Type               746079 non-null object
Datetime           746079 non-null object
Latitude           744382 non-null object
Longitude          744358 non-null float64
Incident Number    717047 non-null object
dtypes: float64(1), object(5)
memory usage: 34.2+ MB

In [19]:
df['Type'].value_counts()

Aid Response                      404068
Medic Response                    112489
Auto Fire Alarm                    39070
Trans to AMR                       35321
Aid Response Yellow                15451
Motor Vehicle Accident             10944
Automatic Fire Alarm Resd          10685
Automatic Medical Alarm            10296
MVI - Motor Vehicle Incident        9603
1RED 1 Unit                         8271
Rescue Elevator                     6672
Medic Response- 7 per Rule          6406
Medic Response- 6 per Rule          4760
Investigate Out Of Service          4623
Alarm Bell                          4074
Illegal Burn                        3316
Hang-Up- Aid                        3040
EVENT - Special Event               2675
Automatic Fire Alarm False          2640
Activated CO Detector               2562
4RED - 2 + 1 + 1                    2552
Car Fire                            2537
Motor Vehicle Accident Freeway      2524
Water Job Minor                     2505
Natural Gas Odor                    2431
MVI Freeway                         2176
Unk Odor                            2166
Brush Fire                          1996
AFA4 - Auto Alarm 2 + 1 + 1         1956
Fire in Building                    1707
                                   ...
MCI Major                              3
Mutual Aid- Adv. Life                  3
Quick Aid Response                     3
Water Rescue Recon                     3
Mutual Aid- Hazmat                     3
Brush Fire Major                       3
Mutual Aid, Aid                        3
Monorail Fire on the beam              3
Mutual Aid- Tech Res                   3
Tunnel Fire                            3
Automatic Aid Dist 11                  2
QAID- Quick Dispatch Aid Call          2
Ship Fire 50' on Water                 2
Rescue Fresh Water Maj                 2
Mutual Aid, Medic                      2
Mutual Aid, Engine                     2
Mutual Aid- Marine                     2
Tank Farm                              2
Mutual Aid- Strike Team Lad            1
Rescue Ice                             1
Testing Only Testing                   1
Mutual Aid, Strike Eng.                1
Mutual Aid Tsk F. BLS                  1
WHAZMCI - Hazmat MCI                   1
WAFAH - Auto Fire Alarm Hazmat         1
Tunnel Rescue                          1
Mutual Aid- Aircraft                   1
Mutual Aid, Adv. Life                  1
Mutual Aid- Air                        1
Scenes Of Violence MCI                 1
Name: Type, Length: 192, dtype: int64